
.login{
    background-image: linear-gradient(to right, #4de5f0, #d338eb);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;

}

.card{
    background-color: aliceblue;
    margin: auto;
    width: 250px;
    height: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(22, 22, 22);
}

.card h1{
    background-color: inherit;
}

.card h4{
    background-color: inherit;
    margin-left: -30%;
    margin-bottom: -0px;
}

.card input{
    background-color: inherit;
    border: none;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    height: 20px;
}

.card button{
    margin-top: 15px;
    width: 60%;
    height: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right, blue, #5b8fe3);
    color: azure;
    font-size: large;
}